* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.jsfrag text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.webmanifest text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.ico binary
*.png binary
*.zip binary
